# Ambienti virtuali
AdvancedSerialReader/
venv/
env/

# Cache di Python
__pycache__/
*.pyc

# File di sistema
.DS_Store
Thumbs.db

# File di build (che creeremo dopo)
build/
dist/
*.spec

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Cartelle di sistema macOS
.DocumentRevisions-V100
.Spotlight-V100
.Trashes